.search {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: whitesmoke;
    border-radius: 15px;
}
.search-td {
    padding: 13px 17px 10px 17px;
}

.feld{
    width: 200px;
    float: left;
    padding-top: 7px;
}

.input-appenddate{
    margin-top:10px;
}
.btnbtn-default{
    margin-top: 11px;
    margin-left: 15px;
}

.Date{
    margin-top: 13px;
    margin-right: 20px;
}

.label{
    float: left;
    width: 5em;
    padding-top: 0.3em;
    text-align:right;
    margin-right: 1.5em;
}

.forecast{
    display:none;
}


.form-inline {
   text-align: center;
}

.btnbtn-info{
    margin-top: 10px;
    margin-bottom: 15px;
    float:right;
}

.Facebook {
    float:right;
    margin-bottom:5px;
    margin-top:-17px;
}

.col-md-12 {
    vertical-align:middle;
}


.table{
    border-radius:20px;
    border-color:#C0C0C0;
    border-spacing:5px;
    border-collapse: separate;
}

.col-md-6-1 {
    background-color: #D699EB;
    border-width:0px 7px 5px 0px;
    border-color:#CC7FE5;
    border-style:solid;
    border-radius:20px;
    border-collapse: separate;
}

#col-md-6_2 {
    background-color: #FFC;
    border-width:0px 7px 5px 0px;
    border-color:#CCCCA3;
    border-style:solid;
    border-radius:20px;
    border-collapse: separate;
}

.weather-code {
    height:150px;
    float:right;
    margin-right:20px;
    margin-bottom:10px
}

.table_2{
    border-radius:20px;
    border-spacing:5px;
    border-collapse: separate;
}

#td_forecast_y {
    background-color: #D699EB;
    border-width:0px 7px 5px 0px;
    border-color:#CC7FE5;
    border-style:solid;
    border-radius:20px;
    border-collapse: separate;
}

.weather-code-low {
    height: 80px;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

.td_forecast_w {
    background-color: #FFC;
    border-width: 0px 7px 5px 0px;
    border-color: #CCCCA3;
    border-style: solid;
    border-radius: 20px;
    border-collapse: separate;
}
#submit{
    margin-top:7px;
    margin-left:10px;
}

#submit2{
    margin-top:7px;
    margin-left:10px;
    float:right;

}

.vorschau{
    display:none;
}

.aktuell{
    display:block;
}

.login_name{
    padding-top: 7px;
}

.powered{
    margin-left:2em;
}


.container{
    display:none;
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}

.omb_login .omb_socialButtons a {
	color:white; // In yourUse @body-bg
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}
}
