{% extends 'base.html' %}
{% load bootstrap3 %}
{#<link href="{{ STATIC_URL }}css/pyweather.css" rel="stylesheet" type="text/css" media="screen">#}
{% block content %}

<table class = "search">
<tr>
<td id = "s1">
<form enctype="multipart/form-data" action="/weather/" method="get" class="form-inline" form="role">
    <div class="form-group">
        <label for="CityInput">Suche</label>
        <input name="city" type="text" class="form-control" id="CityInputFeld" placeholder="F&uuml;ge Stadt ein!">
        <button type="submit" class="btnbtn-info">Abschicken</button>
    </div>
</form></td>
</tr>
</table>
<div class="col-md-12">
<table class="table">
<tr>
    <td class="col-md-6-1">
    Weather for {{ yahoo_wetter.title}} <br />
        <img src="{{STATIC_URL}}images/yh/{{ yahoo_wetter.code }}.png" class="weather-code"/>
        {{ yahoo_wetter.current_condition}} <br />
        Actual Temperature: {{ yahoo_wetter.temp}}&nbsp;{{ yahoo_wetter.utemp}} <br />
        Sunrise: {{ yahoo_wetter.sunrise}} <br />
        Sunset:  {{ yahoo_wetter.sunset}} <br />
        Wind: {{ yahoo_wetter.windspeed}} km/h from

        {% if yahoo_wetter.winddirection <= 23 %}
            N
        {% elif yahoo_wetter.winddirection <= 67 %}
            NE
        {% elif yahoo_wetter.winddirection <= 113 %}
            E
        {% elif yahoo_wetter.winddirection <= 158 %}
            SE
        {% elif yahoo_wetter.winddirection <= 203 %}
            S
        {% elif yahoo_wetter.winddirection <= 248 %}
            SW
        {% elif yahoo_wetter.winddirection <= 293 %}
            W
        {% elif yahoo_wetter.winddirection <= 338 %}
            NW
        {% else  %}
            nix
        {% endif %}
        ({{ yahoo_wetter.winddirection }})
 <br />
    </td>
    <td class="col-md-6" id ="col-md-6_2">
    Wetter f&uuml;r {{ wetter_com.title}} <br />
        <img src="{{STATIC_URL}}images/wc/d_{{ wetter_com.code }}_L.png" height="150px" align="right"/>
        {{ wetter_com.condition}} <br />
        aktuelle Temperatur: {{ wetter_com.temp}}&nbsp;{{ wetter_com.utemp}} <br />
        Sonnenaufgang: {{ wetter_com.sunrise}} <br />
        Sonnenuntergang:  {{ wetter_com.sunset}} <br />
        Wind: {{ wetter_com.windspeed}} km/h  aus {{ wetter_com.winddirection }} <br />
    </td>
</tr>
<br />
</table>
</div>
<table class="table">
<tr>
{% for yforecast in yahoo_wetter.forecasts %}
    <td id = "td_forecast_y">
    {{ yforecast.date }}
    <br />
    <img src="{{STATIC_URL}}images/yh/{{ yforecast.code }}.png" class="weather-code-low"/>
    <br />
    {{ yforecast.condition }}
    <br />
    Min: {{ yforecast.low }} C
    Max: {{ yforecast.high }} C
    <br />

    Wind: {{ yforecast.windspeed}} km/h  from {{ yforecast.winddirection }}
    </td>
{% endfor %}
</tr>
<tr>
{% for wforecast in wetter_com.forecastsw %}
  <td class = "td_forecast_w">
    {{ wforecast.date }}
    <br />
    <img src="{{STATIC_URL}}images/wc/d_{{ wforecast.code }}_M.png" class="weather-code-low"/>
    <br />
    {{ wforecast.condition }}
    <br />
    Min: {{ wforecast.low }} C
    Max: {{ wforecast.high }} C
    <br />
    Wind: {{ wforecast.windspeed}} km/h  aus {{ wforecast.winddirection }}
    </td>
{% endfor %}
<td class="td_forecast_w"></td>
<td class="td_forecast_w"></td>
</table>
<div class ="powered">
Powered by wetter.com <br />
<a href="http://www.wetter.com" target="_blank">http://www.wetter.com</a>
</div>
{% endblock %}
