{% extends 'base.html' %}
{% load bootstrap3 %}
{#<link href="{{ STATIC_URL }}css/pyweather.css" rel="stylesheet" type="text/css" media="screen">#}
{% block content %}
{% load socialaccount %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wetter in Python</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    
                    <button onclick=location.href="forecast.html" type="button" class="btn btn-default">Vorschau</button>
                    {#          <a href="forecast.html">Vorschau</a>#}
                </li>
            </ul>
            <form action ="http://127.0.0.1:8000/weather/" method="GET" enctype ="multipart/form-data">
                <div class="feld">
                    <input name="city" type="text" class="form-control" id="CityInputFeld" placeholder="F&uuml;ge Stadt ein!">
                        </div>
                <button type = "submit" class="btnbtn-default">Abschicken</button>
            </form>
            <ul class = "Facebook">
                {#    <div class="Facebook">#}
                    <a href="{% provider_login_url "facebook" method="oauth2"%}">Facebook</a>
                    {#    </div>#}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="col-md-12">
<table class="table">
<tr>
    <td class="col-md-6-1">
    Weather for {{ yahoo_wetter.title}} <br />
        <img src="{{STATIC_URL}}images/yh/{{ yahoo_wetter.code }}.png" class="weather-code"/>
        {{ yahoo_wetter.current_condition}} <br />
        Actual Temperature: {{ yahoo_wetter.temp}}&nbsp;{{ yahoo_wetter.utemp}} <br />
        Sunrise: {{ yahoo_wetter.sunrise}} <br />
        Sunset:  {{ yahoo_wetter.sunset}} <br />
        Wind: {{ yahoo_wetter.windspeed}} km/h from

        {% if yahoo_wetter.winddirection <= 23 %}
            N
        {% elif yahoo_wetter.winddirection <= 67 %}
            NE
        {% elif yahoo_wetter.winddirection <= 113 %}
            E
        {% elif yahoo_wetter.winddirection <= 158 %}
            SE
        {% elif yahoo_wetter.winddirection <= 203 %}
            S
        {% elif yahoo_wetter.winddirection <= 248 %}
            SW
        {% elif yahoo_wetter.winddirection <= 293 %}
            W
        {% elif yahoo_wetter.winddirection <= 338 %}
            NW
        {% else  %}
            nix
        {% endif %}
        ({{ yahoo_wetter.winddirection }})
 <br />
    </td>
    <td class="col-md-6" id ="col-md-6_2">
    Wetter f&uuml;r {{ wetter_com.title}} <br />
        <img src="{{STATIC_URL}}images/wc/d_{{ wetter_com.code }}_L.png" height="150px" align="right"/>
        {{ wetter_com.condition}} <br />
        aktuelle Temperatur: {{ wetter_com.temp}}&nbsp;{{ wetter_com.utemp}} <br />
        Sonnenaufgang: {{ wetter_com.sunrise}} <br />
        Sonnenuntergang:  {{ wetter_com.sunset}} <br />
        Wind: {{ wetter_com.windspeed}} km/h  aus {{ wetter_com.winddirection }} <br />
    </td>
</tr>
<br />
</table>
</div>
<table class="table">
<tr>
{% for yforecast in yahoo_wetter.forecasts %}
    <td id = "td_forecast_y">
    {{ yforecast.date }}
    <br />
    <img src="{{STATIC_URL}}images/yh/{{ yforecast.code }}.png" class="weather-code-low"/>
    <br />
    {{ yforecast.condition }}
    <br />
    Min: {{ yforecast.low }} C
    Max: {{ yforecast.high }} C
    <br />

    Wind: {{ yforecast.windspeed}} km/h  from {{ yforecast.winddirection }}
    </td>
{% endfor %}
</tr>
<tr>
{% for wforecast in wetter_com.forecastsw %}
  <td class = "td_forecast_w">
    {{ wforecast.date }}
    <br />
    <img src="{{STATIC_URL}}images/wc/d_{{ wforecast.code }}_M.png" class="weather-code-low"/>
    <br />
    {{ wforecast.condition }}
    <br />
    Min: {{ wforecast.low }} C
    Max: {{ wforecast.high }} C
    <br />
    Wind: {{ wforecast.windspeed}} km/h  aus {{ wforecast.winddirection }}
    </td>
{% endfor %}
<td class="td_forecast_w"></td>
<td class="td_forecast_w"></td>
</table>
<div class ="powered">
Powered by wetter.com <br />
<a href="http://www.wetter.com" target="_blank">http://www.wetter.com</a>
</div>
{% endblock %}
